@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --dark: #001233;
    --dark2: #001845;
    --primary: #0466C8;
    --success: #42E2B8;
    --danger: #214E34; 
    --secondary: #FFFAFF;
    --warning: #EEE0CB;
}

html {
    scroll-behavior: smooth
}

body{
    font-family: 'Poppins', sans-serif;
}
#nav{
    transition: all ease 1s;
}

#nav.pined{
    opacity: 1;
    position: fixed;
    top:0;
}


.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 3px);
  transform: rotate(-45deg) translate(-5px, 3px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


